<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="/css/index.css">
        <link href="https://fonts.googleapis.com/css?family=Dosis:300" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/solid.css" integrity="sha384-S2gVFTIn1tJ/Plf+40+RRAxBCiBU5oAMFUJxTXT3vOlxtXm7MGjVj62mDpbujs4C" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/regular.css" integrity="sha384-QNorH84/Id/CMkUkiFb5yTU3E/qqapnCVt6k5xh1PFIJ9hJ8VfovwwH/eMLQTjGS" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/fontawesome.css" integrity="sha384-0b7ERybvrT5RZyD80ojw6KNKz6nIAlgOKXIcJ0CV7A6Iia8yt2y1bBfLBOwoc9fQ" crossorigin="anonymous">
    </head>
    <body>
        <header class="title-header">
            <div class="header-menu-spacer"></div>
            <a class="header-menu-center" href="/"></a>
            <menu class="header-menu">
                <a href="#what">WHAT</a>
                <a href="#who">WHO</a>
            </menu>
        </header>
        <div id="main">
            <section id="what" class="section-block">
                <div class="parallax content1"></div>
                <div class= "section-content">
                    <h2>What we do</h2>
                    <p>We are developer and freelancer agency.</p>
                    <p>Our vision is to give every developer the ultimate level of freedom. <br>This is achieved through transparency and keeping the organization flat.<br>Our name is a play on archipelago as every developer is an independent island, but part of something bigger.</p>

                </div>
            </section>
            <section id="who" class="section-block">
                <div class="parallax content3"></div>
                <div class= "section-content">
                    <h2>Who are we?</h2>
                    <div class="who-container">
                        <div class="who-person">
                            <div class="head-shot" style="background-image:url(/img/lukas.jpg)"></div>
                            <div class="contact-info">
                                <h4 class="contact-name">Lukas Suter <br>
                                co-founder and software dev</h4></h4>
                                <p><i class="fas fa-phone"></i>  +46 (0) 720 155 88 1</p>
                                <p><i class="far fa-envelope"></i>  lukas(@)pelag.io</p>
                            </div>
                        </div>
                        <div class="who-person">
                            <div class="head-shot" style="background-image:url(/img/simon.jpg)"></div>
                            <div class="contact-info">
                                <h4 class="contact-name">Simon Arneson <br>
                                co-founder and software dev</h4>
                                <p> <i class="fas fa-phone"></i>  +46 (0) 732 52 31 52</p>
                                <p><i class="far fa-envelope"></i>  simon(@)pelag.io</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <footer>
                <div class="parallax content4"></div>
                <div class= "section-content" style="text-align: center">
                     (c) pelagio development | est. 2018
                </div>
            </footer>
        </div>
        <script src="/js/anchor-scroll.js"></script>
    </body>
<html>