<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="/css/index.css">

        <link href="https://fonts.googleapis.com/css?family=Dosis:300" rel="stylesheet">
    </head>
    <body>
        <header class="title-header">
            <div class="header-menu-spacer"></div>
            <a class="header-menu-center" href="/"></a>
            <menu class="header-menu">
                <a href="#what">WHAT</a>
                <a href="#why">WHY</a>
                <a href="#who">WHO</a>
                <a href="#how">HOW</a>
            </menu>
        </header>
        <div>
            <section id="what" class="section-block">
                <div class="parallax content1"></div>
                <div class= "section-content">
                    <h2>What we do</h2>
                    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing 
                    elit. Aenean commodo ligula eget dolor. Aenean massa. 
                    Cum sociis natoque penatibus et magnis dis parturient 
                    montes, nascetur ridiculus mus. Donec quam felis, 
                    ultricies nec, pellentesque eu, pretium quis, sem.</p>

                </div>
            </section>
            <section id="why" class="section-block">
                <div class="parallax content2"></div>
                <div class= "section-content">
                    <h2>Why we do it</h2>
                    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus</p>
                </div>
            </section>
            <section id="who" class="section-block">
                <div class="parallax content3"></div>
                <div class= "section-content">
                    <h2>Who are we?</h2>
                    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
                </div>
            </section>
            <section id="how" class="section-block">
                <div class="parallax content4"></div>
                <div class= "section-content">
                    <h2>How we do it</h2>
                    <ul>
                    <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
                    <li>Aliquam tincidunt mauris eu risus.</li>
                    <li>Vestibulum auctor dapibus neque.</li>
                    </ul>
                </div>
            </section>
            <footer>
                <div class="parallax content4"></div>
                <div class= "section-content">
                    
                </div>
            </footer>
        </div>
        <script src="/js/anchor-scroll.js"></script>
    </body>
<html>