<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="/css/index.css">
        <link href="https://fonts.googleapis.com/css?family=Martel+Sans:200" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/solid.css" integrity="sha384-S2gVFTIn1tJ/Plf+40+RRAxBCiBU5oAMFUJxTXT3vOlxtXm7MGjVj62mDpbujs4C" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/regular.css" integrity="sha384-QNorH84/Id/CMkUkiFb5yTU3E/qqapnCVt6k5xh1PFIJ9hJ8VfovwwH/eMLQTjGS" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/fontawesome.css" integrity="sha384-0b7ERybvrT5RZyD80ojw6KNKz6nIAlgOKXIcJ0CV7A6Iia8yt2y1bBfLBOwoc9fQ" crossorigin="anonymous">
    </head>
    <body>
        <header class="title-header">
            <div class="header-menu-spacer"></div>
            <a class="header-menu-center" href="/"></a>
            <menu class="header-menu">
                <a class="menu-item" href="#what">WHAT</a>
                <a class="menu-item" href="#who">WHO</a>
                <a href="#contact">CONTACT</a>
            </menu>
        </header>
        <div id="main">
            <section id="what" class="section-block">
                <div class="parallax content1"></div>
                <div class= "section-content">
                    <h1 style="text-align:center">A transparent developer and freelancer agency</h1>   
                </div>
            </section>
            <section id="what" class="section-block">
                <div class="parallax content1"></div>
                <div class= "section-content">
                    <h2>What we do</h2>
                    <p>We are a developer and freelancer agency.</p>
                    <p>Our vision is to give every developer the ultimate level of freedom.<br>We want to give developers the ability to set their own course while at the same time belonging to a team.<br>Our name is a play on the word archipelago, to signify that every developer on our team is an independent island, but at the same time part of something bigger.</p>
                </div>
            </section>
            <section id="who" class="section-block">
                <div class="parallax content1"></div>
                <div class= "section-content">
                    <h2>Who are we?</h2>
                    <div class="who-container">
                        <div class="who-person">
                            <div class="head-shot" style="background-image:url(/img/lukas.jpg)"></div>
                            <div class="contact-info">
                                <h4 class="contact-name">Lukas Suter <br>
                                co-founder &amp software dev</h4></h4>
                                <p class="contact-info-text"><i class="fas fa-phone"></i>  +46 720 155 88 1</p>
                                <p class="contact-info-text"><i class="far fa-envelope"></i>  lukas(@)pelag.io</p>
                            </div>
                        </div>
                        <div class="who-person">
                            <div class="head-shot" style="background-image:url(/img/simon.jpg)"></div>
                            <div class="contact-info">
                                <h4 class="contact-name">Simon Arneson <br>
                                co-founder &amp software dev</h4>
                                <p class="contact-info-text"><i class="fas fa-phone"></i>  +46 732 52 31 52</p>
                                <p class="contact-info-text"><i class="far fa-envelope"></i>  simon(@)pelag.io</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
           <section id="contact" class="section-block">
                <div class="parallax content2"></div>
                <div class= "section-content">
                    <h2>Contact</h2>
                    <p>Does this sound interesting?</p>
                    <p>If you're a developer looking to join, a client looking for something great, or even if you're just curious, send us a message and we'll be happy to discuss what we're doing and how we're doing it over a cup of coffee!</p>
                    <a href="mailto:hello@pelag.io">hello@pelag.io<a/>
                </div>
            </section>
            <footer>
                <div class="parallax content2"></div>
                <div class= "section-content" style="text-align: center">
                     (c) pelagio development | est. 2018
                </div>
            </footer>
        </div>
        <script src="/js/anchor-scroll.js"></script>
    </body>
<html>