a {
  color: inherit;
  text-decoration: inherit;
}

body {
  display: flex;
  font-family: "Martel Sans", sans-serif;
  overflow-x: hidden;
  margin: 0;
  font-size: 14px;
  letter-spacing: 0.2px;
}

html {
  overflow-x: hidden;
}

#main {
  width: 100%;
}

.content1 {
  background-image: url("/img/archipelago.jpg");
}
.content2 {
  background-image: url("/img/winter-archipelago.jpg");
}

.header-menu {
  padding: 0;
  display: flex;
  justify-content: space-evenly;
  width: 200px;
  flex: 1 1;
}

.menu-item {
}

.header-menu-center {
  flex: 1 1;
  justify-content: center;
  display: flex;
}
.header-menu-center::before {
  content: "";
  background-image: url("/img/logo.png");
  height: 115px;
  width: 103px;
  background-repeat: no-repeat;
  background-size: cover;
}

.header-menu-spacer {
  flex: 1 1;
}

.parallax {
  height: 300px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
}

.section-content {
  padding: 80px;
  flex: 1;
}

.title-header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 150px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.who-container {
  flex-direction: row;
  display: flex;
  justify-content: flex-start;
  height: 180px;
  letter-spacing: normal;
}

.who-person {
  display: flex;
  margin-right: 40px;
}

.contact-info {
  padding: 0px 10px;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.contact-name {
  text-align: center;
  font-weight: normal;
}

.contact-info-text {
  margin: 5px 0px;
}

.head-shot {
  width: 120px;
  background-image: url(/img/lukas.jpg);
  background-size: cover;
  background-position: center;
  filter: saturate(70%);
}

@media only screen and (max-width: 420px) {
  .header-menu {
    flex-direction: column;
    align-items: center;
  }
  .section-content {
    padding: 40px;
  }

  .who-container {
    flex-direction: column;
    height: 400px;
  }

  .who-person {
    margin: 20px 0px;
  }

  .contact-name {
    margin: 10px 0px;
  }
}
