@value primary: #2d5a7b;
@value secondary: #1a3d5c;
@value accent: #e85d56;
@value accentHover: #d44840;
@value text: #2c3e50;
@value textLight: #5a6c7d;
@value offText: #3c4447;
@value distanceShotBackground: #e8eef3;
@value white: #fff;
@value naturalWhite: #f8fafb;
@value waveBlue: #c4d4e1;
@value darkBg: #1a2332;
@value cardBg: #ffffff;
@value sectionAlt: #f4f7fa;
