@value colors: "../theme/colors.css";
@value accent from colors;
@value primary from colors;
@value text from colors;

a {
  color: inherit;
  text-decoration: inherit;
}
/* font-family: 'Montserrat', sans-serif;
font-family: 'Lato', sans-serif; */

body {
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
  margin: 0;
  font-size: 14px;
  letter-spacing: 0.2px;
  text-align: center;
  color: text;
  font-weight: 300;
}
@media only screen and (max-width: 420px) {
  body {
    font-size: 18px;
  }
}

strong {
  color: accent;
}

img {
  display: block;
  width: 100%;
}

h1,
h2,
h3,
h4 {
  font-family: "Lato", "sans-serif";
  font-weight: 300;
}

h1 {
  font-size: 54px;
}

h2 {
  font-weight: lighter;
  font-size: 42px;
  font-weight: 100;
}

h3,
h4 {
  font-weight: lighter;
}

a {
  color: currentColor;
}

.wrapper {
  width: 100%;
}

/**
 * article grid
 */
.article-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 5vmin;
}

.section-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 5vmin;
}

/**
 *
 */
.section-headline {
  padding: 0 0 0.4em 0;
  margin: 0 0 5vmin 0;
  border-bottom: 1px solid #ddd;
}

/**
 *
 */
.list-inline {
  margin: 0;
  padding: 0;
  list-style: none;
}

.list-inline li {
  display: inline-block;
}

button {
  font-size: 24px;
  border: none;
  background-color: accent;
  height: 50px;
  padding: 0 30px;
  min-width: 50px;
  outline-color: white;
}

button:active {
  opacity: 0.7;
}

input[type="email"] {
  border: none;
  border-bottom: 2px white solid;
  height: 50px;
  width: 200;
  color: white;
  background-color: transparent;
  font-size: 20px;
  outline: none;
  box-sizing: border-box;
  padding: 0 5px;
}
input[type="email"]:focus {
  border: 2px white solid;
}

::placeholder {
  color: rgba(255, 255, 255, 0.4);
}

.contact-mail-link {
  font-size: 22px;
  font-weight: 900;
  color: primary;
  text-decoration: underline;
}

@media only screen and (max-width: 420px) {
  h1 {
    font-size: 32px;
  }

  h2 {
    font-size: 32px;
  }
}
