.navigationMenu {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  height: 100vh;
  text-align: left;
  position: fixed;
  top: 0;
  left: 0;
  transition: opacity 0.3s ease-in-out;
  z-index: 9;
  opacity: 0;
}

.navigationItem {
  font-size: 2rem;
  text-transform: uppercase;
  padding: 2rem 0;
  font-weight: bold;
  letter-spacing: 0.5rem;

  color: white;
  text-decoration: none;
  transition: color 0.3s linear;
  text-transform: capitalize;
}
