.parallax {
  height: 300px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
  background-image: url("/img/archipelago.jpg");
}

.sectionContent {
  padding: 80px;
  flex: 1;
}

@media only screen and (max-width: 420px) {
  .sectionContent {
    padding: 40px;
  }
  .parallax {
    background-attachment: initial;
  }
}
