.parallax {
  height: 700px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
}

.sectionContent {
  padding: 36px 36px 10px 36px;
  flex: 1;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media only screen and (max-width: 420px) {
  .sectionContent {
    padding: 40px 40px 10px 40px;
  }
  .parallax {
    background-attachment: initial;
  }
}
