@value colors: "../theme/colors.css";
@value sectionAlt from colors;

.sectionBlock {
  padding: 80px 0;
}

.sectionBlockAlt {
  background-color: sectionAlt;
}

.sectionContent {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 300px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 24px;
}

.sectionContent h2 {
  max-width: 700px;
  position: relative;
  display: inline-block;
}

.sectionContent h2::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background-color: #e85d56;
  margin: 16px auto 0;
  border-radius: 2px;
}

.innerContent p {
  font-size: 20px;
  line-height: 1.8;
  text-align: start;
  color: #5a6c7d;
}

.innerContent {
  flex: 1;
  max-width: 700px;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 768px) {
  .sectionBlock {
    padding: 60px 0;
  }

  .sectionContent {
    padding: 0 20px;
  }

  .sectionContent p {
    font-size: 17px;
    line-height: 1.7;
  }
}
