.whoContainer {
  flex-direction: row;
  display: flex;
  justify-content: flex-start;
  height: auto;
  letter-spacing: normal;
  flex-wrap: wrap;
}

.whoPerson {
  display: flex;
  margin-right: 24px;
  margin-bottom: 24px;
}

.contactInfo {
  padding: 0px 10px;
  align-items: left;
  display: flex;
  flex-direction: column;
  min-width: 165px;
  text-align: left;
}

.contactName {
  font-weight: normal;
}

.contactInfoText {
  margin: 5px 0px;
}

.headShot {
  width: 220px;
  height: 250px;
  background-size: cover;
  background-position: center;
  filter: saturate(70%);
}

@media only screen and (max-width: 420px) {
  .whoPerson {
    margin: 20px 0px;
  }

  .contactName {
    margin: 10px 0px;
  }
}
